body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla ';
    background-color: #f5f5f2;
    padding-left: 650px;
    padding-top: 200px;
    font-weight: 400;
}


h2,h4,p{

    margin: 0;
}

*, *:before, *:after {

    box-sizing: inherit;

}

#card {
    box-shadow: 3px 5px 11px 1px rgba(98,118,71,0.75);
    border-radius: 5px;
    height: 400px;
    width: 600px;
    overflow: hidden;
    
  
}

.maindiv {
    
   width: 100%;
   height: 45%;
   padding: 20px;
  

}

.maindiv h2{
    color:#2EBFBD ;
    margin-bottom: 20px;
   

}

.maindiv h4{
    color:#d6d133 ;
    margin-bottom: 10px;
  

}
.maindiv p{
    color:#c4c4bc ;
    font-size: 1rem;
    margin-bottom: 5px;
    

}

.bottomdiv{
    
    width: 100%;
    height: 55%;
    background-color: white;
    color: white;
    
}


.leftdiv{
    background-color: #32a6a8;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;

}

.leftdiv h4{
     padding-top: 5px;
    margin-bottom: 30px;

}

.rightdiv{
    background-color: #2EBFBD;
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

.rightdiv h4{
    padding-top: 5px;
   margin-bottom: 10px;

}

.rightdiv ul{

    list-style: none;
    padding-left: 5px ;
    opacity: 0.8;

}

#dollar{
    font-size: 1.4rem;
    display: inline-block;
    font-weight: 700;
   

}

#dollar2{
    font-size: 1rem;
    opacity: 0.8;
    display: inline-block;
    padding-left: 5px;
    position: relative;
    top: -3px;
    font-weight: lighter;


}


.leftdiv p{
     margin-top: 10px;
    margin-bottom: 30px;

}



button{
    width: 100%;
    border-radius: 5px;
    background-color: #d6d133 ;
    font-size: 1rem;
    color: white;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;


}

button:hover {
    cursor: pointer;
    background-color:#A9C42D;
    transform: scale(1.02);


}

@media(max-width:650px){

    body{
        padding: 0;
       
    }

    #card, .maindiv, .leftdiv, .rightdiv{
    width: 100%;
    height: 100%;

    }

}


